<% if users.any? %>
<ul class="uk-list">
<% users.each do |user| %>
<li class="list">
  <% if user.image? %>
     <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <%= image_tag user.image.url, size: 100 %>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom"><%= user.name %></h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>後でここにユーザの自己紹介などを追加するといいと思うがmigrationし直しが必要</p>
        </div>
        <div class="uk-card-footer">
            <%= link_to 'ユーザの詳細', user_path(user.id) %>
        </div>
    </div>
  <% else %>
       <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom"><%= user.name %></h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="uk-card-footer">
            <%= link_to 'ユーザの詳細', user_path(user.id) %>
        </div>
    </div>
  <% end %>
</li>
  <% end %>
 </ul>
 <%= paginate users %>
<% end %>  