<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
            <% if @user.image? %>
              <%= image_tag @user.image.url, size: 200 %> 
            <% else %>
                 <img class="mr-2 rounded" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
            <% end %>    
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= @user.name %></h3>
                    <ul class="nav nav-tabs nav-justified mb-3">
                       <li><%= link_to '読んだ本', reads_path %></li>
                       <li><%= link_to '読んでいる本', readings_path %></li>
                       <li><%= link_to '読みたい本', willreads_path %></li>
                       <li><%= link_to 'フォーロー', followings_user_path %></li>
                       <li><%= link_to 'フォロワー', followers_user_path %></li>
                    </ul>
                <p class="uk-text-meta uk-margin-remove-top"></p>
            </div>
            <div class="uk-width-expand">
               <p uk-margin>
                <div class="uk-inline">
                  <button class="uk-button uk-button-default" type="button">書籍登録</button>
                  <div uk-dropdown>
                     <ul class="uk-nav uk-dropdown-nav">
                       <li><%= link_to '読んだ本の登録', new_read_path %></li>
                       <li><%= link_to '読んでいる本の登録', new_reading_path %></li>
                       <li><%= link_to '読みたい本の登録', new_willread_path %></li>
                     </ul>
                  </div>
                </div>
               </p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
    <ul class="uk-list">
      <li><%= @count_followings %></li>
      <li><%= @count_followers %></li>
    </ul>

        <p>ここにユーザの自己紹介文などがあればいいのかもしれない。入れるのを検討してみよう</p>
    </div>
    <div class="uk-card-footer">
       <%= render 'relationships/follow_button', user: @user %>
    </div>

</div>

